@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vh;
  overflow-x: hidden; /* Prevents horizontal scrollbar if width > 100% */
}

:root { /* Main styling */
  --green1: #7c844f;
  --green2: #a5bf7b;
  --green3: #f3f6cd;
  --white: #f3f3f3;
  --black: #292929;
  --font-sans: "ZT Gatha", 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: var(--white);
  }

