GEMINI_API_KEY="Your_Gemini_API_Key_Here"
OPENAI_API_KEY="Your_OpenAI_API_Key_Here"

# News and Data APIs
MARKETAUX_API_KEY="Your_Marketaux_API_Key_Here"
MASSIVE_API_KEY="Your_Massive_API_Key_Here"
TIINGO_API_KEY="Your_Tiingo_API_Key_Here"
ALPHA_VANTAGE_API_KEY="Your_Alpha_Vantage_API_Key_Here"

ALPACA_API_KEY="Your_Alpaca_API_Key_Here"
ALPACA_API_SECRET="Your_Alpaca_API_Secret_Here"

USE_OPENAI_MODEL = "true"